@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url('https://fonts.googleapis.com/css?family=Roboto|Syncopate');


body {
 background-color: lightblue;
 
    font-size: 25px;
    
}

h1 {
    color: black;
  font-family: 'Syncopate', sans-serif;
}
p {
    background-color: rgba(153, 194, 255, 0.8);
    font-family: Roboto;
    font-size: 160%;
    border: 5px solid black;
    margin: 50px;
    padding: 30px;
    
}

